$primary-color: #410041;
$secondary-color: #8f008f;

$primary-background: #888;

a {
  color: $primary-color;
  font-weight: bold;
  &:hover {
    color: $secondary-color;
  }
}

button {
  background-color: $primary-color;
  padding: 1rem 2rem;
  color: white;
  margin: 0.5rem;
}
