.aoc-container {
  &__solution {
    background-color: lightblue;
  }

  &__title {
    font-size: 110%;
    font-weight: bold;
  }

  &.day {
    &-3 {
      fieldset.slopes {
        .slope {
          max-width: 70%;
          margin: 0 auto;
          label {
            display: inline-block;
          }
        }
      }
    }
    &-11 {
      .seating-system {
        width: unset;
        &__seat {
          padding: 0;
          margin: 0;
          height: 5px;
          width: 5px;
          &.available {
            background-color: lightgray;
          }
          &.occupied {
            background-color: green;
          }
          &.floor {
            background-color: darkgrey;
          }
        }
      }
    }
    &-17 {
      .canvas {
        &__container {
          height: 400px;
        }
      }
    }
  }
}
